.font-size-grande, h1 {
  font-size: 40px; }

.font-size-mediano, .card .card-text-sobre-nosotros, .cajon .card .card-body .card-title {
  font-size: 30px; }

.font-size-chico, .cajon .card .card-body .card-text-servicios, .wraper {
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

h1 {
  text-align: center;
  color: antiquewhite;
  background-color: #002e85;
  margin: 0px; }

header {
  position: sticky;
  top: 0;
  z-index: 999; }

body {
  background-color: #002f87;
  background-image: linear-gradient(180deg, #002f87 0%, #80D0C7 100%); }

footer {
  background-color: #002e85;
  display: flex;
  justify-content: center;
  flex-direction: row; }

.titulo {
  text-align: center;
  color: antiquewhite;
  background-color: #002e85;
  padding-bottom: 20px; }

.card {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  animation-name: fade-in;
  animation-duration: 1s;
  width: 640px; }

@media screen and (max-width: 768px) {
  .card {
    width: 480px; } }

@media screen and (max-width: 576px) {
  .card {
    width: 304px; }
    .card .card-text-sobre-nosotros {
      font-size: 20px; } }

.carousel {
  width: 700px;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  animation-name: fade-in;
  animation-duration: 1s; }

.imagen-index {
  height: 600px; }

@media screen and (max-width: 768px) {
  .carousel {
    width: 500px;
    height: auto;
    margin-bottom: 50px; }
  .imagen-index {
    height: 600px; } }

@media screen and (max-width: 576px) {
  .carousel {
    width: 300px;
    margin-bottom: 20px; }
  .imagen-index {
    height: 500px; } }

.cajon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  animation-name: fade-in;
  animation-duration: 1s;
  align-items: center; }
  .cajon .card {
    width: 18rem;
    height: 238px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 200px; }
    .cajon .card .card-body .card-text-servicios {
      height: 120px; }
    .cajon .card .card-body a {
      text-decoration: none; }

@media screen and (max-width: 576px) {
  .cajon {
    grid-template-columns: repeat(1, 1fr); }
    .cajon .card {
      margin-top: 18px;
      margin-bottom: 18px; } }

form {
  height: 320px;
  width: 300px;
  margin: auto;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 156px;
  background-color: white;
  animation-name: fade-in;
  animation-duration: 1s; }
  form div {
    padding: 10px; }

.button, .button-primary {
  margin: auto;
  margin-top: 10px;
  width: 120px; }

.button-primary {
  background-color: #002e85; }

textarea {
  resize: none;
  padding: 10px; }

@keyframes fade-in {
  0% {
    transform: translateX(-200px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

.nav {
  display: flex;
  background-color: rgba(0, 46, 133, 0.84) !important;
  justify-content: space-between;
  align-items: center; }
  .nav .navbar-toggler {
    background-color: white; }
  .nav .logo-nav {
    width: 100px; }
  .nav .nav-list {
    margin: auto; }
    .nav .nav-list li {
      display: inline-block;
      padding: 0px 10px 0px 10px;
      text-align: center; }
      .nav .nav-list li a {
        color: antiquewhite; }
    .nav .nav-list li:hover {
      transform: scale(1.2); }
    .nav .nav-list li a:after {
      content: '';
      position: relative;
      background-color: black;
      height: 3px;
      width: 0;
      display: block;
      transition: 0.3s; }
    .nav .nav-list a:hover:after {
      color: black;
      width: 100%; }

@media screen and (max-width: 768px) {
  .nav .nav-list li {
    padding: 20px;
    font-size: 20px; } }

.imagen-principal {
  width: 90%;
  display: flex;
  object-fit: fill; }

.wraper {
  margin: auto;
  margin-top: 30px;
  height: auto; }
  .wraper .row {
    animation-name: fade-in;
    animation-duration: 1s; }
    .wraper .row .col-sm-4 {
      margin: auto;
      color: azure; }
    .wraper .row .col-sm-8 {
      display: flex;
      object-fit: contain; }
    .wraper .row .col-sm-12 {
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      color: azure; }

.imagen {
  margin: auto;
  display: block;
  margin-bottom: 20px;
  animation-name: fade-in;
  animation-duration: 1s; }

@media screen and (max-width: 768px) {
  .wraper {
    font-size: 15px;
    height: auto;
    width: auto; }
  .imagen {
    width: 300px; } }

@media screen and (max-width: 576px) {
  .col-12 {
    padding-top: 20px; } }
