@mixin size ($alto, $ancho,) {
    height: $alto;
    width: $ancho;
}

form {
    @include size (320px,300px);
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 156px;
    background-color: white;
    animation-name: fade-in;
    animation-duration: 1s;

    div {
        padding: 10px;
    }
}

.button {
    margin: auto;
    margin-top: 10px;
    width: 120px;
}

.button-primary {
    @extend .button;
    background-color: $primarycolor;
}

textarea {
    resize: none;
    padding: 10px;
}