.carousel {
    width: 700px;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    animation-name: fade-in;
    animation-duration: 1s;
}

.imagen-index {
    height: 600px;
}

@media screen and (max-width:768px) {

    .carousel {
        width: 500px;
        height: auto;
        margin-bottom: 50px;
    }

    .imagen-index{
        height: 600px;
    }
}

@media screen and (max-width:576px) {

    .carousel{
        width: 300px;
        margin-bottom: 20px;
    }

    .imagen-index{
        height: 500px;
    }
}