* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

h1 {
    @extend .font-size-grande;
    text-align: center;
    color: antiquewhite;
    background-color: $primarycolor;
    margin: 0px;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

body {
    background-color: #002f87;
    background-image: linear-gradient(180deg, #002f87 0%, #80D0C7 100%);
}

footer {
    background-color: $primarycolor;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.titulo {
    text-align: center;
    color: antiquewhite;
    background-color: $primarycolor;
    padding-bottom: 20px;
}