.card {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    animation-name: fade-in;
    animation-duration: 1s;
    width: 640px;
    .card-text-sobre-nosotros {
        @extend .font-size-mediano;
    }
}

@media screen and (max-width:768px) {

    .card {
        width: 480px;
    }
}

@media screen and (max-width:576px) {
    
    .card {
        width: 304px;

        .card-text-sobre-nosotros { 
            font-size: 20px;
        }
    }
}