@import "variables.scss";
@import "paginas.scss";
@import "sobre-nosotros.scss";
@import "galeria.scss";
@import "servicios.scss";
@import "contacto.scss";
@import "keyframes.scss";

.imagen-principal {
    width: 90%;
    display: flex;
    object-fit: fill;
}

.container {
    @extend .font-size-chico;
    margin: auto !important;
    margin-top: 30px !important;
    height: auto;

    .row{
      animation-name: fade-in;
      animation-duration: 1s;
      
        .col-sm-4 {
            margin: auto;
            color: azure;
        }
        
        .col-sm-8 {
            display: flex;
            object-fit: contain;
        }
        
        .col-sm-12 {
            margin: auto;
            margin-top: 60px;
            margin-bottom: 60px;
            color: azure;
        }
    }
}

.imagen {
    margin: auto;
    display: block;
    margin-bottom: 20px;
    animation-name: fade-in;
    animation-duration: 1s;
}

@media screen and (max-width:768px) {
    .nav {
        flex-direction: column;

        .logo-nav {
            text-align: center;
            padding-left: auto;
        }
    }

    .container {
        font-size: 15px;
        height: auto;
        width: auto;
    }

    .imagen {
        width: 300px;
    }
}

@media screen and (max-width:576px) {

    .col-12 {
        padding-top: 20px;
    }

    li {
        display: block !important;
        margin: 30px !important;
    }
}